@import 'colors';

// Utility Color Classes
//
// .wrack - Color #93CCE2.
// .rar - Color #A59D8E.
// .text-primary-primary - $primary-color.
// .browse-text-dark - $browse-dark-color.
// .text-browse - $browse-color.
// .highlight-text-dark - $highlight-dark-color.
// .text-highlight - $highlight-color.
// .coolgray-text-dark - $coolgray-dark-color.
// .text-coolgray - $coolgray-color.
// .findus-text-dark - $findus-dark-color.
// .text-findus - $findus-color.
// .gethelp-text-dark - $gethelp-dark-color.
// .text-gethelp - $gethelp-color.
// .attend-text-dark - $attend-dark-color.
// .text-attend - $attend-color.
// .learn-text-dark - $learn-dark-color.
// .text-learn - $learn-color.
// .research-text-dark - $research-dark-color.
// .text-research - $research-color.
// .donate-text-dark - $donate-dark-color.
// .text-donate - $donate-color.
// .search-text-dark - $search-dark-color.
// .text-search - $search-color.
//
// markup:
// <h1 class="{$modifiers}">Color Text</h1>
//
// Styleguide 5.5
.wrack {
  color: #93cce2;
}
.rar {
  color: #a59d8e;
}
.text-primary-primary {
  color: $primary-color;
}
.browse-text-dark {
  color: $browse-dark-color;
}
.text-browse {
  color: $browse-color;
}
.highlight-text-dark {
  color: $highlight-dark-color;
}
.text-highlight {
  color: $highlight-color;
}
.coolgray-text-dark {
  color: $coolgray-dark-color;
}
.text-coolgray {
  color: $coolgray-color;
}
.findus-text-dark {
  color: $findus-dark-color;
}
.text-findus {
  color: $findus-color;
}
.gethelp-text-dark {
  color: $gethelp-dark-color;
}
.text-gethelp {
  color: $gethelp-color;
}
.attend-text-dark {
  color: $attend-dark-color;
}
.text-attend {
  color: $attend-color;
}
.learn-text-dark {
  color: $learn-dark-color;
}
.text-learn {
  color: $learn-color;
}
.research-text-dark {
  color: $research-dark-color;
}
.text-research {
  color: $research-color;
}
.donate-text-dark {
  color: $donate-dark-color;
}
.text-donate {
  color: $donate-color;
}
.search-text-dark {
  color: $search-dark-color;
}
.text-search {
  color: $search-color;
}
