/******** Color Palettes ********/
/** _colors.scss **/

// Color Palette
//
// This section describes base colors
//
// Styleguide 1.0

// Primary color
//
// $primary-color - Primary Library Red color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$primary-color: #E32B31;

// NYPL Blues ~ Secondary UI Color 
//
// $secondary-color - secondary user interface color.
// $secondary-dark-color - dark UI color
// $secondary-light-color - nypl light blue
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.2

$nypl-blue: #1b7fa7;
$nypl-blue-dark: #135772;
$nypl-light-blue:  #73c7e8;
$secondary-color: $nypl-blue;
$secondary-dark-color: $nypl-blue-dark;
$secondary-light-color: $nypl-light-blue;

// Highlight Colors
//
// $highlight-dark-color - highlight dark color.
// $highlight-color - highlight color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.3

$highlight-dark-color: #FEE24A;
$highlight-color: #FFF0A1;

// Grays (Warm)
//
// $gray-dark-color - a warmer dark-gray color.
// $gray-color - warmer gray color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.4

$gray-dark-color: #5F5B54;
$gray-color: #7B756F;

// Browse Colors
//
// $browse-color - browse color.
// $browse-dark-color - browse dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.5

$browse-dark-color: #BB1D12;
$browse-color: #E62E19;

// Attend Colors
//
// $attend-dark-color - attend dark color.
// $attend-color - attend color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.6

$attend-dark-color: #52174F;
$attend-color: #72256D;

// Learn Colors
//
// $learn-dark-color - learn dark color.
// $learn-color - learn color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.7

$learn-dark-color: #2b5e10;
$learn-color: #468028;

// Research Colors
//
// $research-color - research color.
// $research-dark-color - research dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.8

$research-dark-color: #047074;
$research-color: #07818D;

// Find Us Colors
//
// $findus-color - find us color.
// $findus-dark-color - find us dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.9

$findus-dark-color: #595141;
$findus-color: #726958;

// Get Help Colors
//
// $gethelp-color - gethelp color.
// $gethelp-dark-color - gethelp dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.10

$gethelp-color: $findus-color;
$gethelp-dark-color: $findus-dark-color;

// Donate Colors
//
// $donate-color - donate color.
// $donate-dark-color - donate dark color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.11

$donate-dark-color: $browse-dark-color;
$donate-color: $browse-color;

// Search Colors
//
// $search-dark-color - search dark color.
// $search-color - search color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.12

$search-color: $nypl-blue;
$search-dark-color: $nypl-blue-dark;

// Footer Colors
//
// $footer-color - footer color.
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.13

$footer-color: #54514A;

// Utility & General Purpose Colors
//
//
// $black-color - black color.
// $charcoal - slightly less black.
// $form-gray-dark - border color used in fieldsets and form elements
// $white-color - aka: .$nypl-white
// $focus-color - high contrast dark blue for focus rings 
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.14

$form-gray-dark: #665C52;
$black-color: #000000;
$charcoal: #333333;
$nypl-white: #fff;
$white-color: $nypl-white;
$focus-color: #0f465c;