@import "colors";

$red-color: #e4382c;
$gray1-color: #9c9c9c;
$gray2-color: #4b4b4b;


/* Import Icomoon  */


/******** Large & Small Icons ********/

// Icons
//
// Styleguide 3

// Large Icons
//
// .icon-lg.icon-lib - Icon Lib
// .icon-lg.icon-card - Icon Card
// .icon-lg.icon-board - Icon Board
// .icon-lg.icon-easel - Icon Easel
//
// markup:
//   <span class="{$modifiers}"></span>
//
// Styleguide 3.1

// Small Icons
//
// .icon-sm.icon-speech - Icon Speach
// .icon-sm.icon-book - Icon Book
// .icon-sm.icon-headphones - Icon Headphones
// .icon-sm.icon-video - Icon Video
//
// markup:
//   <span class="{$modifiers}"></span>
//
// Styleguide 3.2

// Lion Icons
//
// markup:
//   <div class="lion-inverse-bg">
//     <span class="icon-lion icon-lion__inverse icon-lion-lg"></span>
//     <span class="icon-lion icon-lion__inverse icon-lion-sm"></span>
//   </div>
//   <div>
//     <span class="icon-lion icon-lion-lg"></span>
//     <span class="icon-lion icon-lion-sm"></span>
//   </div>
//
// Styleguide 3.3

// Social Media List & Icons
//
// markup:
//   <ul class="social-media">
//     <li class="facebook">
//       <span class="icon-social icon-facebook"></span> 821
//     </li>
//     <li class="twitter">
//       <span class="icon-social icon-twitter"></span> 769
//     </li>
//     <li class="pinterest">
//       <span class="icon-social icon-pinterest"></span> 158
//     </li>
//     <li class="tumblr">
//       <span class="icon-social icon-tumblr"></span> 55
//     </li>
//     <li class="more">
//       <span class="icon-more"></span>
//     </li>
//   </ul>
//
// Styleguide 3.4

// Sub Brand
//
// .icon-nypllive - NYPL Live.
// .icon-techconnect - Tech Connect.
// .icon-schomberg - Schomberg.
//
// markup:
//   <span class="icon-subbrand {$modifiers}"></span>
//
// Styleguide 3.5



.icon {
  &-lg,
  &-sm {
    display: inline-block;
  }
  &-lg {
    width: 72px;
    height: 66px;
    background: url(../imgs/icons-large.png) no-repeat transparent;
  }
  &-sm {
    width: 38px;
    height: 30px;
    background: url(../imgs/icons-small.png) no-repeat transparent;
  }

  &-lib {
    background-position: 0 0;
  }
  &-card {
    background-position: -72px 0;
  }
  &-board {
    background-position: -144px 0;
  }
  &-easel {
    background-position: -216px 0;
  }
  &-speech {
    background-position: 0 0;
  }
  &-book {
    background-position: -38px 0;
  }
  &-headphones {
    background-position: -76px 0;
  }
  &-video {
    background-position: -114px 0;
  }

  /******** Lion Mark ********/
  &-lion {
    display: block;
    background: url(../imgs/icon-lion.png) no-repeat;
    &-lg {
      width: 88px;
      height: 88px;
      &.icon-lion__inverse {
        background-position: -88px 0;
      }
    }

    &-sm {
      background-size: 88px 44px;
      width: 44px;
      height: 44px;
      &.icon-lion__inverse {
        background-position: -44px 0;
      }
    }
  }

  /******** Sub Brand ********/
  &-subbrand {
    display: inline-block;
    background: url(../imgs/icons-subbrand.png) no-repeat;
    width: 44px;
    height: 49px;
  }
  &-nypllive {
    background-position: 0 0;
  }
  &-techconnect {
    background-position: -44px 0;
  }
  &-schomberg {
    background-position: -88px 0;
  }

  &-social {
    display: inline-block;
    background: url(../imgs/icons-social.png) no-repeat;
    width: 23px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
  }

  /******** Social Media Iconssssss ********/
  &-facebook {
    background-position: 0 0;
  }
  &-twitter {
    background-position: -23px 0;
  }
  &-pinterest {
    background-position: -46px 0;
  }
  &-tumblr {
    background-position: -69px 0;
  }
  &-more {
    background: url(../imgs/ellipsis_white.png) no-repeat;
    display: block;
    width: 21px;
    height: 5px;
    margin: auto;
    cursor: pointer;
  }

}


.lion-inverse-bg { // styleguide-specific
  background: $red-color;
}

/******** Social Media Icons ********/
.social-media {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;

  li {
    background: $gray1-color;
    padding: 16px 20px;
    color: $gray2-color;
    font-family: 'Kievit-Medium', sans-serif;
    font-weight: 500;
    font-size: 13px;

    &.facebook {
      background: $secondary-color;
      color: $white-color;
    }
  }
}

/******** Font Icons ~ Icomoon ********/
// NYPL Icomoon Icons
//
// The Lion Logo Mark typically is used in a couple specific places
//
// Another thing is necessary to see...
//
// .nypl-icon-logo-mark - NYPL Lion logo icon 
// .nypl-icon-logo-type - Logo Type
// .nypl-icon-burger-nav - Burger Nav icon
// .nypl-icon-circle-x - Circle X Closer icon
// .nypl-icon-solo-x - X closer
// .nypl-icon-circle-more - Circle More icon
// .nypl-icon-more-dots - More dots icon
// .nypl-icon-arrow-meganav - Arrow Meganav icon
// .nypl-icon-arrow-meganav-large - Large Arrow Meganav icon
// .nypl-icon-arrow-up - Arrow Up icon
// .nypl-icon-arrow-down - Arrow Down icon
// .nypl-icon-arrow-left - Arrow Left icon
// .nypl-icon-circle-arrow-left - Circle Arrow left icon
// .nypl-icon-arrow-right - Arrow Right icon
// .nypl-icon-circle-arrow-right - Circle Arrow Right icon 
// .nypl-icon-wedge-right - Wedge icon right
// .nypl-icon-circle-wedge-right - Circle wedge right
// .nypl-icon-wedge-left - Wedge icon left
// .nypl-icon-circle-wedge-left - Circle wedge left
// .nypl-icon-wedge-down - Wedge icon down
// .nypl-icon-wedge-up - Wedge icon up
// .nypl-icon-magnifier-thin - Magnifier icon thin
// .nypl-icon-magnifier-fat - Magnifier icon fat 
// .nypl-icon-magnifier-circle - Circle Magnifier icon
// .nypl-icon-mail - Mail icon
// .nypl-icon-book - Book icon
// .nypl-icon-card - Library Card icon
// .nypl-icon-login - Login icon
// .nypl-icon-locator-small - Small Location icon
// .nypl-icon-locator-large - Large Location icon
// .nypl-icon-locator-no-dot - Location icon sans dot
// .nypl-icon-play-large - Large Play icon
// .nypl-icon-play-med - Medium Play icon
// .nypl-icon-play-small - Small Play icon
// .nypl-icon-equals-small - Small equals icon
// .nypl-icon-check-solo - Check icon
// .nypl-icon-circle-check - Circle Check icon
// .nypl-icon-bldg - Building icon
// .nypl-icon-headphones - Headphones
// .nypl-icon-facebook - Plain 'ol facebook icon
// .nypl-icon-facebook-circle - Circle Facebook icon
// .nypl-icon-facebook-circle-large - Circle Facebook Large icon
// .nypl-icon-facebook-circle-hover - Circle Facebook hover icon
// .nypl-icon-twitter - Plain ol twitter icon
// .nypl-icon-twitter-circle - Circle twitter icon
// .nypl-icon-twitter-circle-large - Circle twitter icon Large
// .nypl-icon-twitter-circle-hover - Circle twitter hover icon
// .nypl-icon-instagram - Instagram icon
// .nypl-icon-tumblr - Tumblr icon
// .nypl-icon-itunes - iTunes icon
// .nypl-icon-youtube - Youtube icon
// .nypl-icon-soundcloud - Soundcloud icon
//
// markup: 
// <span class="lg-icon {$modifiers}"></span>
//
// Styleguide 3.6


	
[class^="nypl-icon-"], [class*=" nypl-icon-"] {
  font-family: 'nypl-moon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.lg-icon {font-size: 64px;}

.nypl-icon-arrow-meganav-large:before {
  content: "\e801";
}
.nypl-icon-arrow-meganav:before {
  content: "\e800";
}
.nypl-icon-card:before {
  content: "\e623";
}
.nypl-icon-book:before {
  content: "\e624";
}
.nypl-icon-play-large:before {
  content: "\e625";
}
.nypl-icon-play-med:before {
  content: "\e626";
}
.nypl-icon-play-small:before {
  content: "\e603";
}
.nypl-icon-headphones:before {
  content: "\e627";
}
.nypl-icon-solo-x:before {
  content: "\e611";
}
.nypl-icon-mail:before {
  content: "\e61c";
}
.nypl-icon-login:before {
  content: "\e61d";
}
.nypl-icon-logo-mark:before {
  content: "\e61e";
}
.nypl-icon-logo-type:before {
  content: "\e61f";
}
.nypl-icon-locator-no-dot:before {
  content: "\e620";
}
.nypl-icon-locator-small:before {
  content: "\e616";
}
.nypl-icon-locator-large:before {
  content: "\e615";
}
.nypl-icon-burger-nav:before {
  content: "\e614";
}
.nypl-icon-wedge-right:before {
  content: "\e621";
}
.nypl-icon-wedge-left:before {
  content: "\e622";
}
.nypl-icon-wedge-down:before {
  content: "\e600";
}
.nypl-icon-wedge-up:before {
  content: "\e601";
}
.nypl-icon-magnifier-thin:before {
  content: "\e617";
}
.nypl-icon-magnifier-fat:before {
  content: "\e609";
}
.nypl-icon-magnifier-circle:before {
  content: "\e602";
}
.nypl-icon-facebook-circle:before {
  content: "\e62e";
}
.nypl-icon-facebook-circle-large:before {
  content: "\e62c";
}
.nypl-icon-facebook-circle-hover:before {
  content: "\e630";
}
.nypl-icon-twitter-circle:before {
  content: "\e62f";
}
.nypl-icon-twitter-circle-large:before {
  content: "\e62d";
}
.nypl-icon-twitter-circle-hover:before {
  content: "\e631";
}
.nypl-icon-facebook:before {
  content: "\e604";
}
.nypl-icon-twitter:before {
  content: "\e605";
}
.nypl-icon-tumblr:before {
  content: "\e606";
}
.nypl-icon-instagram:before {
  content: "\e618";
}
.nypl-icon-soundcloud:before {
  content: "\e619";
}
.nypl-icon-itunes:before {
  content: "\e61a";
}
.nypl-icon-youtube:before {
  content: "\e61b";
}
.nypl-icon-bldg:before {
  content: "\e607";
}
.nypl-icon-equals-small:before {
  content: "\e608";
}
.nypl-icon-arrow-up:before {
  content: "\e60a";
}
.nypl-icon-arrow-down:before {
  content: "\e629";
}
.nypl-icon-arrow-left:before {
  content: "\e62a";
}
.nypl-icon-arrow-right:before {
  content: "\e62b";
}
.nypl-icon-circle-arrow-left:before {
  content: "\e60b";
}
.nypl-icon-circle-arrow-right:before {
  content: "\e60c";
}
.nypl-icon-circle-wedge-left:before {
  content: "\e60d";
}
.nypl-icon-circle-wedge-right:before {
  content: "\e60e";
}
.nypl-icon-circle-more:before {
  content: "\e60f";
}
.nypl-icon-more-dots:before {
  content: "\e610";
}
.nypl-icon-circle-x:before {
  content: "\e612";
}
.nypl-icon-circle-check:before {
  content: "\e613";
}
.nypl-icon-check-solo:before {
  content: "\e628";
}	
	
	