@import "colors";

$red-color: #e4382c;
$gray1-color: #9c9c9c;
$gray2-color: #4b4b4b;

/******** Large & Small Icons ********/

// Icons
//
// Styleguide 3

// Large Icons
//
// .icon-lg.icon-lib - Icon Lib
// .icon-lg.icon-card - Icon Card
// .icon-lg.icon-board - Icon Board
// .icon-lg.icon-easel - Icon Easel
//
// markup:
//   <span class="{$modifiers}"></span>
//
// Styleguide 3.1

// Small Icons
//
// .icon-sm.icon-speech - Icon Speach
// .icon-sm.icon-book - Icon Book
// .icon-sm.icon-headphones - Icon Headphones
// .icon-sm.icon-video - Icon Video
//
// markup:
//   <span class="{$modifiers}"></span>
//
// Styleguide 3.2

// Lion Icons
//
// markup:
//   <div class="lion-inverse-bg">
//     <span class="icon-lion icon-lion__inverse icon-lion-lg"></span>
//     <span class="icon-lion icon-lion__inverse icon-lion-sm"></span>
//   </div>
//   <div>
//     <span class="icon-lion icon-lion-lg"></span>
//     <span class="icon-lion icon-lion-sm"></span>
//   </div>
//
// Styleguide 3.3

// Social Media List & Icons
//
// markup:
//   <ul class="social-media">
//     <li class="facebook">
//       <span class="icon-social icon-facebook"></span> 821
//     </li>
//     <li class="twitter">
//       <span class="icon-social icon-twitter"></span> 769
//     </li>
//     <li class="pinterest">
//       <span class="icon-social icon-pinterest"></span> 158
//     </li>
//     <li class="tumblr">
//       <span class="icon-social icon-tumblr"></span> 55
//     </li>
//     <li class="more">
//       <span class="icon-more"></span>
//     </li>
//   </ul>
//
// Styleguide 3.4

// Sub Brand
//
// .icon-nypllive - NYPL Live.
// .icon-techconnect - Tech Connect.
// .icon-schomberg - Schomberg.
//
// markup:
//   <span class="icon-subbrand {$modifiers}"></span>
//
// Styleguide 3.5

.icon {
  &-lg,
  &-sm {
    display: inline-block;
  }
  &-lg {
    width: 72px;
    height: 66px;
    background: url(../imgs/icons-large.png) no-repeat transparent;
  }
  &-sm {
    width: 38px;
    height: 30px;
    background: url(../imgs/icons-small.png) no-repeat transparent;
  }

  &-lib {
    background-position: 0 0;
  }
  &-card {
    background-position: -72px 0;
  }
  &-board {
    background-position: -144px 0;
  }
  &-easel {
    background-position: -216px 0;
  }
  &-speech {
    background-position: 0 0;
  }
  &-book {
    background-position: -38px 0;
  }
  &-headphones {
    background-position: -76px 0;
  }
  &-video {
    background-position: -114px 0;
  }

  /******** Lion Mark ********/
  &-lion {
    display: block;
    background: url(../imgs/icon-lion.png) no-repeat;
    &-lg {
      width: 88px;
      height: 88px;
      &.icon-lion__inverse {
        background-position: -88px 0;
      }
    }

    &-sm {
      background-size: 88px 44px;
      width: 44px;
      height: 44px;
      &.icon-lion__inverse {
        background-position: -44px 0;
      }
    }
  }

  /******** Sub Brand ********/
  &-subbrand {
    display: inline-block;
    background: url(../imgs/icons-subbrand.png) no-repeat;
    width: 44px;
    height: 49px;
  }
  &-nypllive {
    background-position: 0 0;
  }
  &-techconnect {
    background-position: -44px 0;
  }
  &-schomberg {
    background-position: -88px 0;
  }

  &-social {
    display: inline-block;
    background: url(../imgs/icons-social.png) no-repeat;
    width: 23px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
  }

  /******** Social Media Icons ********/
  &-facebook {
    background-position: 0 0;
  }
  &-twitter {
    background-position: -23px 0;
  }
  &-pinterest {
    background-position: -46px 0;
  }
  &-tumblr {
    background-position: -69px 0;
  }
  &-more {
    background: url(../imgs/ellipsis_white.png) no-repeat;
    display: block;
    width: 21px;
    height: 5px;
    margin: auto;
    cursor: pointer;
  }

}

.lion-inverse-bg { // styleguide-specific
  background: $red-color;
}

/******** Social Media Icons ********/
.social-media {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;

  li {
    background: $gray1-color;
    padding: 16px 20px;
    color: $gray2-color;
    font-family: 'Kievit-Medium', sans-serif;
    font-weight: 500;
    font-size: 13px;

    &.facebook {
      background: $blue-color;
      color: $white-color;
    }
  }
}
