@import "colors";

.img-circle--span {
  display: inline-block;
  vertical-align: middle;
  color: $black-color;
  font-family: "Kievit-Medium", sans-serif;
  font-size: 12px;
  margin-left: 18px;
}

.sm-circle,
.med-circle,
.content-label {
  display: inline-block;
  vertical-align: middle;
}

// Medium Circle
//
// markup:
//   <section>
//     <img class="med-circle" src="imgs/placeholder-med_circle.jpg">
//     <span>meganav inset</span>
//   </section>
//
// Styleguide 5.2

.med-circle {
  width: 88px;
  height: 88px;
  @include border-radius(44px);
  &+span {
    @extend .img-circle--span;
  }
}

// Small Circle
//
// markup:
// <section>
//   <img class="sm-circle" src="imgs/placeholder-sm_circle.jpg">
//   <span>Author's thumbnail</span>
// </section>
//
// Styleguide 5.3

.sm-circle {
  width: 44px;
  height: 44px;
  @include border-radius(22px);
  &+span {
    @extend .img-circle--span;
  }
}
