@import "colors";

/******** Typography - Milo Sections ********/

// Blog Title
//
// markup:
// <section class="blog--title">
//   <header>
//     <h1>Hellen Keller on What It Means to Love Books</h1>
//     <p class="tagline">by <span>Tracy O'Neill</span>, Social Media Curator</p>
//     <p class="date">June 24, 2015</p>
//   </header>
// </section>
//
// Styleguide 6.2

.blog--title,
.blog--quote {
  width: 433px; // ??
  // margin-bottom: 100px;
  -webkit-font-feature-settings: "lnum" 1; /* No variation */
  font-feature-settings: "lnum" 1; /* No variation */
}

.body--text-milo {
  width: 433px; // ??
  -webkit-font-feature-settings: "lnum" 1; /* No variation */
  font-feature-settings: "lnum" 1; /* No variation */
  
}

// Blog Listing
//
// markup:
// <section class="blog--listing">
//        <h1>Scribe: Toward a General Framework for Community Transcription</h1>
//        <p>A couple of weeks ago, NYPL Labs was very excited to release Emigrant City, the Library's latest effort to unlock the data found within our collections.</p>
//<p>But Emigrant City is a bit different from the other projects we’ve released in one very important way: this one is built on top of a totally new framework called Scribe, built in collaboration with <a href="#">Zooniverse</a> and funded by a grant from the NEH Office of Digital Humanities along with funds from the University of Minnesota. Scribe is the codebase working behind the scenes to support this project.</p>
//      </section>
//
// Styleguide 6.3

// Banner
//
// markup:
// <section class="banner">
//   <header>
//     <h1>Rock 'n' Read: Screaming Females</h1>
//     <p class="date">Now through Friday, August 8, 2015</p>
//     <p class="loc">Stephen A. Schwarzman Building</p>
//   </header>
// </section>
//
// Styleguide 6.8

.blog--listing,
.banner {
  width: 326px; // ??
  // margin-bottom: 100px;
  -webkit-font-feature-settings: "lnum" 1; /* No variation */
  font-feature-settings: "lnum" 1; /* No variation */
}

/******** Body Text Milo ********/

// Body Text Milo
//
// markup:
// <section class="body-text-milo">
//   <p>If you read Gillian Flynn's smash bestseller <em>Gone Girl</em>, then I'm sure you've also been up on the questions, and you're eager to see what really happened.</p>
// </section>
//
// Styleguide 6.7

.body-text-milo {
  p {
    font-family: 'MiloSlab-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.01em;
    margin: 0;
  }

  em {
  font-family: 'MiloSlab-RegularItalic';
    font-weight: 400;
    font-style: italic;
  }
}


// Meganav
//
// markup:
// <section class="meganav">
//   <header>
//     <span class="category">Catalogs</span>
//     <h1>Digital Collections</h1>
//   </header>
//   <p>Access more than 800,000 images digitized from the New York Public Library's collections including historical maps, vintage posters, photographs, and more.</p>
// </section>
//
// Styleguide 6.9

.meganav {
  width: 326px; // ??
  -webkit-font-feature-settings: "lnum" 1; /* No variation */
  font-feature-settings: "lnum" 1; /* No variation */
}

aside.milo {
  width: 472px; // ??
  -webkit-font-feature-settings: "lnum" 1; /* No variation */
  font-feature-settings: "lnum" 1; /* No variation */
}


/******** Font System / Content ********/

.font-system-content h1 {
  font-size: 41px;
  line-height: 53px;
  letter-spacing: -0.015em;
  margin: 0 0 0.28em;
  width: 408px;
  display: inline-block;
}

/******** Blog Title ********/
.blog--title {
  h1 {
    font-family: 'MiloSlab-Light', serif;
    font-weight: 100;
    font-size: 48px;
    line-height: 100%;
    margin: 0 0 0.4em;
  }
  .tagline {
    font-family: 'Kievit-Light', sans-serif;
    font-size: 18px;
    line-height: 24.28px;
    font-weight: 100;
    letter-spacing: -0.02em;
    margin: 0;
    span {
      font-family: 'Kievit-Book', sans-serif;
      font-weight: 400;
    }
  }

  .date {
    font-family: 'Kievit-Book', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.07em;
    margin: 0;
  }
}



/******** Blog Quote ********/
.blog--quote {
  h1 {
    font-family: 'MiloSlab-LightItalic', serif;
    font-weight: 100;
    font-style: italic;
    line-height: 100%;
    margin: 0 0 0.4em;
    font-size: 36px;
  }

  hr {
    border: 0;
    margin: 0 0 1.4em;
    background: $black-color;
    height: 2px;
    width: 66px;
  }
}



/******** Body Text ********/
.body-text-milo {
  p {
    font-family: 'MiloSlab-Regular', serif;
    font-weight: 400;
    font-size: 17px;
    text-indent: 72px;
    line-height: 28px;
    a.publication {
      font-family: 'MiloSlab-RegularItalic', serif;
      font-weight: 400;
      font-style: italic;
    }
  }
}



/******** Blog Listing ********/
.blog--listing {
  h1 {
    font-family: 'MiloSlab-Light', serif;
    font-weight: 100;
    font-size: 36px;
    line-height: 100%;
    margin: 0 0 0.4em;
  }
  p {
    font-family: 'Kievit-Book', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
}


/******** Banner ********/

.banner {
  h1 {
    font-family: 'MiloSlab-Light', serif;
    font-weight: 100;
    font-size: 36px;
    line-height: 100%;
    margin: 0 0 0.6em;
    span {
      display: block;
    }
  }

  .date {
    font-family: 'Kievit-Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 20px;
    margin: 0;
  }

  .loc {
    font-family: 'Kievit-Book', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 20px;
    margin: 0;
  }
}


/******** Meganav ********/
.meganavw {
  width: 292px; // ??

  h1 {
    font-family: 'MiloSlab-Light', serif;
    font-weight: 100;
    font-size: 30px;
    line-height: 100%;
    margin: 0 0 0.8em;
  }
  .category {
    font-family: 'Kievit-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
  }
  p {
    font-family: 'Kievit-Book', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
}
