@import "colors";
.svgIcon {
  border: 1px dotted rgba(3,3,3,0.1);
  padding: 16px;
  -webkit-box-sizing: content-box;
	box-sizing: content-box;;
}

.circleEmpty {
  /*fill: $primary-color;*/
}

.wht {
    fill: $white-color;
  }

  .blue {
    fill: $secondary-color;
  }

  .blue-bg {
    background-color:$secondary-color;
    fill:$white-color;
  }

  .red {
    fill: $primary-color;
  }

  .red-bg {
    background-color: $primary-color;
    fill:$white-color;
  }

  .gray {
    fill: $footer-color;
  }

  .gray-bg {
    background-color: $footer-color;
    }

// SVG Empty Circles
//
//
// SVG icon set as raw SVG and as linked fliles</br>
// <i>TODO: Ensure SVG icons are fully accessible.</i></br>
// <i>TODO: Move SVG Files to UX-Static</i></br>
// <i>SEE: svg-icons Folder for each SVG</i>
// <p><b>Usage:</b> Modify width & height attributes to achieve proper sizing.</p>
// <p>You'll probably want to ignore / omit the classes on each SVG element, they're for referrence only</p>
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon circleEmpty">
//  <title>empty.circle</title>
//  <path d="M16,2A14,14,0,1,1,2,16,14.0159,14.0159,0,0,1,16,2m0-2A16,16,0,1,0,32,16,16,16,0,0,0,16,0h0Z" />
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon circleEmpty">
//  <title>empty.circle</title>
//  <!--
//  the smaller versions use a different circle path
//  in this case we use a "3px" wide path
//  -->
//  <path d="M16,3A13,13,0,1,1,3,16,13.0147,13.0147,0,0,1,16,3m0-3A16,16,0,1,0,32,16,16,16,0,0,0,16,0h0Z"/>
//  <!-- / 3px path -->
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon circleEmpty">
//  <title>circle.empty.small.svg</title>
//  <!--
//  the smaller versions use a different circle path
//  in this case we use a "3px" wide path
//  -->
//  <path d="M16,3A13,13,0,1,1,3,16,13.0147,13.0147,0,0,1,16,3m0-3A16,16,0,1,0,32,16,16,16,0,0,0,16,0h0Z"/>
//  <!-- / 3px path -->
//</svg>
//
// Styleguide 3.7

// SVG Circle More Icon
//
//<p><b>Note:</b> Added in colors for reference only. Its useful to see how the dots look across possible design patterns"</p>
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon" >
//  <title>circle.more.icon.svg</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
//</svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>circle.more.icon.svg</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>circle.more.icon.svg</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon wht gray-bg">
//  <title>circle.more.icon.svg</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon wht gray-bg">
//  <title>circle.more.icon.svg</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon wht gray-bg">
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <br>
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon blue">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon blue">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon blue">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon blue-bg">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon blue-bg">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon blue-bg">
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <br>
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon red">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon red">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon red">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon red-bg">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon red-bg">
//  <title>circle.more.icon.v1</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon red-bg">
//  <title>circle.more.icon.v1</title>
//  <title>circle.empty.small.svg</title>
//  <circle cx="16" cy="16" r="1.9029" />
//  <circle cx="24" cy="16" r="1.9029" />
//  <circle cx="8" cy="16" r="1.9029" />
// </svg>
//
// Styleguide 3.7.1


// SVG X Icon
//
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="2rem" height="2rem">
//	<title>circle.x</title>
//	<path  d="M48.07,96.14a48.07,48.07,0,1,1,34-14.06h0A48,48,0,0,1,48.07,96.14Zm0-90.48a42.41,42.41,0,1,0,30,12.41A42.29,42.29,0,0,0,48.07,5.66Z" transform="translate(0 0)" fill="#333333"/>
//	<polygon points="65.2 34.95 61.2 30.94 48.07 44.07 34.95 30.94 30.94 34.95 44.07 48.07 30.94 61.2 34.95 65.2 48.07 52.08 61.2 65.2 65.2 61.2 52.08 48.07 65.2 34.95" fill="#333333"/>
//</svg>
//
// Styleguide 3.8

// SVG X Icon
//
// markup:
// <img src="../imgs/svg/circle.x.svg" width="32px" height="32px" alt="close icon" />
//
// Styleguide 3.8.1



// Solo X Icon
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="2rem" height="2rem">
// <title>solo.x</title>
//  <polygon points="54.26 6.34 47.91 0 27.13 20.79 6.34 0 0 6.34 20.79 27.13 0 47.91 6.34 54.26 27.13 33.47 47.91 54.26 54.26 47.91 33.47 27.13 54.26 6.34" fill="#333333"/>
//</svg>
//
// Styleguide 3.9


// Left / Right Arrow Circle Icon
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="2rem" height="2rem">
//  <title>circle.left.wedge</title>
//  <g>
//    <polygon id="_Path_" points="52.12 68.49 30.95 47.32 52.12 26.15 56.06 30.09 38.83 47.32 56.06 64.55 52.12 68.49"/>
//  </g>
//  <path d="M47.3,0A47.3,47.3,0,1,1,13.84,13.84h0A47.18,47.18,0,0,1,47.3,0Zm0,89A41.75,41.75,0,1,0,17.78,76.81,41.47,41.47,0,0,0,47.3,89Z"/>
//</svg>
//</br>
//<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="2rem" height="2rem">
//  <title>circle.left.right</title>
//  <polygon points="42.16 26.14 63.33 47.31 42.16 68.48 38.22 64.55 55.45 47.31 38.22 30.08 42.16 26.14"/>
//  <path d="M13.87,80.76A47.3,47.3,0,1,1,47.32,94.64h0A47.18,47.18,0,0,1,13.87,80.76Zm63-63A41.75,41.75,0,1,0,89.06,47.32,41.47,41.47,0,0,0,76.84,17.8Z"/>
//</svg>
//
// Styleguide 3.10

// Lion Logo Icon
//
// markup:
// <img src="//ux-static.nypl.org/images/NYPL-logo-black-pos.svg" width="230px" alt="NYPL Logo Icon Mark"/>
//
// Styleguide 3.11

// Small Lion Logo SVG
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>logo.lion.v2</title>
//  <path d="M16.70141,11.32807a6.31546,6.31546,0,0,1,1.12512.41216,1.143,1.143,0,0,0,.608.33664,0.98688,0.98688,0,0,0,.45056-0.77952,1.89568,1.89568,0,0,0-.09728-1.07136,1.5104,1.5104,0,0,0-1.43232-.44928,3.75168,3.75168,0,0,0-.98944.15744c-0.3456.105-.82432,0.33664-0.62208,0.81664A1.536,1.536,0,0,0,16.70141,11.32807Z" transform="translate(0 0.00031)"/><path d="M15.92829,0.00009a15.959,15.959,0,1,0,.15405-0.00034Q16.00532-.00046,15.92829.00009ZM6.592,27.22692a2.35645,2.35645,0,0,1-.585-0.71936c-1.3568-2.176-2.12224-9.856-.36736-12.47486,0.55552-.91392,1.152-0.49408.95232,0.2176a5.76639,5.76639,0,0,0,.64,4.19583c1.21472,2.56,4.95743,6.10687,5.94687,7.39455A10.05053,10.05053,0,0,1,15.43677,30.089c-0.00768.33024-.07552,0.54656-0.66048,0.49408A14.5139,14.5139,0,0,1,6.592,27.22692Zm23.48028-7.296c-0.12032.375-.2624,0.84608-0.5696,0.62976a13.75234,13.75234,0,0,0-3.05919-1.68576c-0.06784-.01536-0.06016-0.105-0.03712-0.15744a2.13761,2.13761,0,0,0,.16512-0.599,1.57182,1.57182,0,0,1,.29184-0.5248,5.358,5.358,0,0,0,.55552-1.92,4.66688,4.66688,0,0,0-.0896-1.52064,3.456,3.456,0,0,1-.19328-0.67456c0-.2176.105-0.4416,0.128-0.69632a2.06592,2.06592,0,0,0-1.37216-1.5808c-1.152-.53248-2.36928-1.0112-3.607-1.6704A14.11467,14.11467,0,0,1,20.462,7.92071,13.35678,13.35678,0,0,0,17.34269,6.5716a0.29184,0.29184,0,0,1-.247-0.247,7.26655,7.26655,0,0,0-2.72256-4.224c-0.512-.3968.06016-0.62208,0.768-0.6592A14.57789,14.57789,0,0,1,30.07227,19.92965v0.00128Zm-4.51455-4.90751c-0.00768-.06016-0.02944-0.247-0.02944-0.28416a0.768,0.768,0,0,1,.3072-0.31488,2.67644,2.67644,0,0,1,.42752-0.29952c0.03712-.023.06784,0.02944,0.07552,0.0448a4.07168,4.07168,0,0,1-.03712,2.88511c-0.03712.07552-.09728,0.105-0.12032,0.05248a1.86112,1.86112,0,0,0-.62976-0.7872,0.1472,0.1472,0,0,1-.0448-0.128,3.51869,3.51869,0,0,0,.0512-1.16992v0.00128ZM12.14846,8.19207a4.87807,4.87807,0,0,1,3.87711-.55424,17.664,17.664,0,0,1,2.752,1.00352c0.8768,0.40448,1.50016,1.152,2.3168,1.59616,1.024,0.5696,2.4448.83968,3.53279,1.37088a1.024,1.024,0,0,1,.64.57728,3.91551,3.91551,0,0,1-2.07744-.02944,0.67072,0.67072,0,0,0-.7872.12032,1.15968,1.15968,0,0,0,.07552.95872,1.25312,1.25312,0,0,0,.60032.65152c0.352,0.16512.83968,0.1728,1.16224,0.35968a1.57056,1.57056,0,0,1,.233,2.048,2.82368,2.82368,0,0,1-2.23488.512,6.76991,6.76991,0,0,0-2.56.1344,2.97983,2.97983,0,0,0-1.335,1.28,0.1536,0.1536,0,0,1-.21493.03147l-0.00267-.002c-2.272-1.3632-5.14431-2.06848-6.67391-4.233a4.65663,4.65663,0,0,1-.7424-1.95584A3.863,3.863,0,0,1,12.14846,8.19207ZM8.60159,4.114C8.151,4.06152,8.14463,3.73,8.33919,3.602a10.60351,10.60351,0,0,1,2.07744-1.07136,1.024,1.024,0,0,1,.57728-0.09856A6.34367,6.34367,0,0,1,13.664,3.67624c1.335,0.951,2.52672,2.7648,1.73184,2.615a7.5086,7.5086,0,0,0-.8704-0.128c-0.60032-.05248-0.99712.00768-1.28-0.023A0.55552,0.55552,0,0,1,12.9459,5.9828,7.50975,7.50975,0,0,0,8.60159,4.114ZM20.49532,18.79941a0.864,0.864,0,0,1,.384-0.5248,3.895,3.895,0,0,1,1.58976-.28416,5.11231,5.11231,0,0,0,1.6128-.256,0.98944,0.98944,0,0,1,.88448-0.27776,0.64,0.64,0,0,1,.33792.41216,1.6,1.6,0,0,1,.0896.62208,17.16518,17.16518,0,0,1-.7424,1.73056,0.57727,0.57727,0,0,1-.0896.31488,2.729,2.729,0,0,1-2.11456.27776,2.65473,2.65473,0,0,1-.75776-0.128,1.46562,1.46562,0,0,1-.375-0.3072,8.47227,8.47227,0,0,1-.6528-0.69632,1.08927,1.08927,0,0,1-.29184-0.375,1.536,1.536,0,0,1,.12544-0.50944v0.00128ZM5.23519,6.15944a0.66688,0.66688,0,0,1,.3456-0.2176,8.84223,8.84223,0,0,1,5.58719.47232c0.329,0.14976.48,0.352,0.26112,0.49792A11.43678,11.43678,0,0,0,9.847,8.05127a0.71936,0.71936,0,0,1-.512.105,8.41087,8.41087,0,0,0-5.248.62208c-0.3968.16-.759-0.064-0.57728-0.37888A12.81021,12.81021,0,0,1,5.23519,6.15944Zm-3.607,6.976a0.6272,0.6272,0,0,1,.15744-0.384A10.0723,10.0723,0,0,1,7.43295,9.50023a0.80384,0.80384,0,0,1,.82432.14208c0.128,0.3072-.128.4864-0.4352,0.6592-5.33247,3.18463-4.95743,7.91935-5.00991,9.856,0.01536,0.7936-.55552.937-0.6976,0.56192a13.92254,13.92254,0,0,1-.48768-7.58527Zm6.72,3.72351a6.32831,6.32831,0,0,1,.0896-5.12c0.20992-.3968.41216-0.65152,0.68224-0.57728,0.29184,0.08192.35968,0.375,0.39808,0.92928,0.29184,4.56319,3.05919,6.10687,6.528,7.71711a19.99613,19.99613,0,0,1,8.46719,6.871c0.39808,0.56192.45056,0.896,0.00768,1.22112a14.26559,14.26559,0,0,1-5.14431,2.33728c-0.31488.07552-.64,0.01536-0.93056-0.704-2.92992-7.55839-7.84895-7.21407-10.09918-12.67582Zm18.16317,9.28254c-0.45056.4416-.6976,0.09728-0.84736-0.18688A13.15834,13.15834,0,0,0,23.44444,22.441a0.22784,0.22784,0,0,1,.20992-0.384,1.64737,1.64737,0,0,0,.88448-0.14208,1.77023,1.77023,0,0,0,.81024-1.152c0.128-.43392.128-0.5696,0.39808-0.59136a0.809,0.809,0,0,1,.2624.02944,3.2,3.2,0,0,1,.937.55424,8.791,8.791,0,0,1,1.80736,1.96992,0.512,0.512,0,0,1-.06016.512A14.44351,14.44351,0,0,1,26.51,26.14148h0.00128Z" transform="translate(0 0.00031)"/>
// </svg>
//
// Styleguide 3.12

// Small Lion Logo ~ Reverse
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>logoLion.rev.svg</title>
//   <path d="M25.447,11.18424c-1.191-.58524-2.73541-0.87723-3.856-1.506-0.89644-.4956-1.57-1.31136-2.52282-1.75445A18.52668,18.52668,0,0,0,16.06,6.825a5.33635,5.33635,0,0,0-4.235.61086,4.30033,4.30033,0,0,0-1.59693,4.25166,5.05974,5.05974,0,0,0,.81063,2.14632c1.67633,2.37427,4.80873,3.14521,7.288,4.64225a0.16136,0.16136,0,0,0,.22734-0.01976l0.00061-.00073L18.57,18.44408a3.29375,3.29375,0,0,1,1.45607-1.40868,7.3751,7.3751,0,0,1,2.80584-.15111,3.0863,3.0863,0,0,0,2.44343-.56732,1.74164,1.74164,0,0,0-.25613-2.25005c-0.35345-.20362-0.88235-0.21258-1.27038-0.38419a1.34337,1.34337,0,0,1-.65312-0.71715,1.296,1.296,0,0,1-.0794-1.054,0.73252,0.73252,0,0,1,.86442-0.12806,4.37972,4.37972,0,0,0,2.268.03586A1.1167,1.1167,0,0,0,25.447,11.18424Zm-6.25584-.34577a1.07573,1.07573,0,0,1-.49432.85033,1.16025,1.16025,0,0,1-.66208-0.37266,7.28292,7.28292,0,0,0-1.22684-.45206,1.59437,1.59437,0,0,1-1.03218-.64031c-0.22027-.53146.29967-0.7799,0.67873-0.90412a4.14026,4.14026,0,0,1,1.07828-.17288,1.62,1.62,0,0,1,1.56108.4956,2.37555,2.37555,0,0,1,.09733,1.1961h0Z" transform="translate(0.0037 0.01117)"/><path d="M0.33656,12.85929a0.70946,0.70946,0,0,1,.17673-0.4162A10.94163,10.94163,0,0,1,6.67948,8.87272a0.84649,0.84649,0,0,1,.89643.16008c0.14087,0.3368-.14087.53146-0.47639,0.72611C1.28166,13.25756,1.6953,18.44408,1.63383,20.575c0.01793,0.86826-.6083,1.0245-0.76837.61982A15.4571,15.4571,0,0,1,.33656,12.85929Z" transform="translate(0.0037 0.01117)"/><path d="M4.28088,5.205A0.75172,0.75172,0,0,1,4.651,4.96554a9.57521,9.57521,0,0,1,6.097.52249c0.36113,0.16008.5289,0.38419,0.2907,0.54042A13.25055,13.25055,0,0,0,9.30988,7.27706a0.82216,0.82216,0,0,1-.56475.11526A9.232,9.232,0,0,0,3.01818,8.071C2.57765,8.25674,2.18834,8.00061,2.392,7.66381A14.42493,14.42493,0,0,1,4.28088,5.205Z" transform="translate(0.0037 0.01117)"/><path d="M7.95882,2.955c-0.493-.05251-0.493-0.4162-0.2907-0.55707a11.90979,11.90979,0,0,1,2.268-1.17049,1.11158,1.11158,0,0,1,.64031-0.10629A6.91535,6.91535,0,0,1,13.49622,2.485c1.45607,1.045,2.75334,3.02995,1.88764,2.86987a7.59418,7.59418,0,0,0-.95278-0.14215c-0.66208-.06147-1.08469.009-1.3946-0.01793A0.56732,0.56732,0,0,1,12.70992,5.018,8.14475,8.14475,0,0,0,7.95882,2.955Z" transform="translate(0.0037 0.01117)"/><path d="M31.40187,20.30866c-0.12806.40724-.2907,0.92973-0.61726,0.69154A15.17033,15.17033,0,0,0,27.455,19.14842c-0.07043-.01793-0.06147-0.11526-0.03586-0.16776a2.24365,2.24365,0,0,0,.17673-0.65568,1.60207,1.60207,0,0,1,.31759-0.57628,5.82041,5.82041,0,0,0,.59933-2.1079,5.29276,5.29276,0,0,0-.09733-1.67377,3.48971,3.48971,0,0,1-.20234-0.73508c0-.23948.11526-0.479,0.14087-0.762a2.27823,2.27823,0,0,0-1.49961-1.73652c-1.25245-.58524-2.58557-1.1167-3.93535-1.83385a15.56467,15.56467,0,0,1-1.99393-1.7711,14.32376,14.32376,0,0,0-3.40517-1.47912,0.32656,0.32656,0,0,1-.27405-0.27405A8.00389,8.00389,0,0,0,14.26844.73181c-0.55579-.43413.07556-0.68257,0.84393-0.71715A15.98728,15.98728,0,0,1,31.40187,20.30866Z" transform="translate(0.0037 0.01117)"/><path d="M26.47917,14.92237c-0.009-.06147-0.03586-0.27405-0.03586-0.31887a0.88362,0.88362,0,0,1,.33552-0.34577,3.5421,3.5421,0,0,1,.46743-0.32784c0.04354-.02689.07043,0.03586,0.0794,0.05379a4.445,4.445,0,0,1-.04354,3.16185c-0.03586.0794-.10629,0.11526-0.12806,0.05379a2.07973,2.07973,0,0,0-.68769-0.86826,0.18826,0.18826,0,0,1-.05251-0.14215A3.68307,3.68307,0,0,0,26.47917,14.92237Z" transform="translate(0.0037 0.01117)"/><path d="M20.94688,19.069a0.96944,0.96944,0,0,1,.42388-0.57628,4.12872,4.12872,0,0,1,1.7378-.30991,5.39013,5.39013,0,0,0,1.75573-.292,1.0642,1.0642,0,0,1,.96175-0.30095,0.69794,0.69794,0,0,1,.3701.45206,1.6379,1.6379,0,0,1,.09733.68257,20.55646,20.55646,0,0,1-.81191,1.90428,0.61214,0.61214,0,0,1-.09733.34577,2.97361,2.97361,0,0,1-2.31152.30095,2.49083,2.49083,0,0,1-.82984-0.14215,1.65072,1.65072,0,0,1-.41492-0.3368c-0.27405-.25613-0.43285-0.45206-0.71459-0.762a1.38049,1.38049,0,0,1-.32656-0.4162A3.46941,3.46941,0,0,1,20.94688,19.069Z" transform="translate(0.0037 0.01117)"/><path d="M5.76383,28.32535a2.53178,2.53178,0,0,1-.64031-0.79655c-1.49064-2.38324-2.32049-10.81613-.406-13.677,0.60829-1.00145,1.25245-.54042,1.04115.23051a6.37365,6.37365,0,0,0,.69666,4.61024c1.32288,2.8084,5.417,6.70533,6.494,8.114a11.05816,11.05816,0,0,1,2.46135,4.66787c-0.009.3637-.0794,0.59293-0.71459,0.54042A15.831,15.831,0,0,1,5.76383,28.32535Z" transform="translate(0.0037 0.01117)"/>  <path d="M7.67708,16.94319a6.97939,6.97939,0,0,1,.09733-5.6168c0.22923-.43413.4495-0.71715,0.74148-0.62879,0.31759,0.08836.38419,0.4162,0.43285,1.0245,0.32656,5.01363,3.3437,6.69637,7.12922,8.46875a21.79361,21.79361,0,0,1,9.24609,7.539c0.43285,0.61086.49432,0.98352,0.009,1.337a15.4494,15.4494,0,0,1-5.62065,2.56124c-0.34449.0794-.70562,0.01793-1.01425-0.7799C15.503,22.55872,10.12947,22.92625,7.67708,16.94319Z" transform="translate(0.0037 0.01117)"/><path d="M27.51135,27.12925c-0.48536.48664-.76837,0.10629-0.92589-0.21258a14.47105,14.47105,0,0,0-2.42678-3.86235,0.24844,0.24844,0,0,1,.22923-0.42517,1.71731,1.71731,0,0,0,.96175-0.16008A1.94527,1.94527,0,0,0,26.232,21.2115c0.12806-.479.14087-0.61982,0.43285-0.65568a0.87084,0.87084,0,0,1,.2907.03586,3.7407,3.7407,0,0,1,1.0245.61086,9.80444,9.80444,0,0,1,1.976,2.16169,0.5878,0.5878,0,0,1-.06147.56732A15.77464,15.77464,0,0,1,27.51135,27.12925Z" transform="translate(0.0037 0.01117)"/></svg>
//
// Styleguide 3.13

// Filtering Icon
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>filter.icon.svg</title>
//  <g>
//    <circle cx="13.0944" cy="7.375" r="1.3192"/>
//    <circle cx="19.6222" cy="6.375" r="1.3189"/>
//    <circle cx="15.9997" cy="10.5242" r="1.3193"/>
//    <g>
//      <path d="M14.1785,27.562a0.95,0.95,0,0,1-.95-0.95v-10.27L6.6875,9.2893a0.95,0.95,0,0,1,1.3956-1.29l7.0455,7.598v11.015A0.95,0.95,0,0,1,14.1785,27.562Z"/>
//      <path d="M18.0387,24.794a0.95,0.95,0,0,1-.95-0.95V15.603l7.126-7.8149a0.95,0.95,0,0,1,1.41,1.2744l-6.636,7.2729v7.5083A0.95,0.95,0,0,1,18.0387,24.794Z"/>
//    </g>
//  </g>
//  <!-- add the circle here -->
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>filter.icon.svg</title>
//  <g>
//    <circle cx="13.0944" cy="7.375" r="1.3192"/>
//    <circle cx="19.6222" cy="6.375" r="1.3189"/>
//    <circle cx="15.9997" cy="10.5242" r="1.3193"/>
//    <g>
//      <path d="M14.1785,27.562a0.95,0.95,0,0,1-.95-0.95v-10.27L6.6875,9.2893a0.95,0.95,0,0,1,1.3956-1.29l7.0455,7.598v11.015A0.95,0.95,0,0,1,14.1785,27.562Z"/>
//      <path d="M18.0387,24.794a0.95,0.95,0,0,1-.95-0.95V15.603l7.126-7.8149a0.95,0.95,0,0,1,1.41,1.2744l-6.636,7.2729v7.5083A0.95,0.95,0,0,1,18.0387,24.794Z"/>
//    </g>
//  </g>
//  <!-- add the circle here -->
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>filter.icon.svg</title>
//  <g>
//    <circle cx="13.0944" cy="7.375" r="1.3192"/>
//    <circle cx="19.6222" cy="6.375" r="1.3189"/>
//    <circle cx="15.9997" cy="10.5242" r="1.3193"/>
//    <g>
//      <path d="M14.1785,27.562a0.95,0.95,0,0,1-.95-0.95v-10.27L6.6875,9.2893a0.95,0.95,0,0,1,1.3956-1.29l7.0455,7.598v11.015A0.95,0.95,0,0,1,14.1785,27.562Z"/>
//      <path d="M18.0387,24.794a0.95,0.95,0,0,1-.95-0.95V15.603l7.126-7.8149a0.95,0.95,0,0,1,1.41,1.2744l-6.636,7.2729v7.5083A0.95,0.95,0,0,1,18.0387,24.794Z"/>
//    </g>
//  </g>
//  <!-- add the circle here -->
//</svg>
//
//
// Styleguide 3.14

// List Icon
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
// <title>list.icon</title>
//  <path d="M23.4829,9.5H7.83a1.0143,1.0143,0,1,1,0-2.0285H23.4829A1.0143,1.0143,0,1,1,23.4829,9.5Z"/>
//  <path d="M23.4829,19.5285H7.83a1.0143,1.0143,0,1,1,0-2.0285H23.4829A1.0143,1.0143,0,1,1,23.4829,19.5285Z"/>
//  <path d="M16.8125,14.5h-9a0.977,0.977,0,0,1-1-.9857A1.0155,1.0155,0,0,1,7.83,12.5h8.7651a1.1951,1.1951,0,0,1,1.2178,1A0.9889,0.9889,0,0,1,16.8125,14.5Z"/>
//  <path d="M16.5947,25.4H7.83a1.0143,1.0143,0,1,1,0-2.0285h8.7651A1.0143,1.0143,0,1,1,16.5947,25.4Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>list.icon</title>
//  <path d="M23.4829,9.5H7.83a1.0143,1.0143,0,1,1,0-2.0285H23.4829A1.0143,1.0143,0,1,1,23.4829,9.5Z"/>
//  <path d="M23.4829,19.5285H7.83a1.0143,1.0143,0,1,1,0-2.0285H23.4829A1.0143,1.0143,0,1,1,23.4829,19.5285Z"/>
//  <path d="M16.8125,14.5h-9a0.977,0.977,0,0,1-1-.9857A1.0155,1.0155,0,0,1,7.83,12.5h8.7651a1.1951,1.1951,0,0,1,1.2178,1A0.9889,0.9889,0,0,1,16.8125,14.5Z"/>
//  <path d="M16.5947,25.4H7.83a1.0143,1.0143,0,1,1,0-2.0285h8.7651A1.0143,1.0143,0,1,1,16.5947,25.4Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>list.icon</title>
//  <path d="M23.4829,9.5H7.83a1.0143,1.0143,0,1,1,0-2.0285H23.4829A1.0143,1.0143,0,1,1,23.4829,9.5Z"/>
//  <path d="M23.4829,19.5285H7.83a1.0143,1.0143,0,1,1,0-2.0285H23.4829A1.0143,1.0143,0,1,1,23.4829,19.5285Z"/>
//  <path d="M16.8125,14.5h-9a0.977,0.977,0,0,1-1-.9857A1.0155,1.0155,0,0,1,7.83,12.5h8.7651a1.1951,1.1951,0,0,1,1.2178,1A0.9889,0.9889,0,0,1,16.8125,14.5Z"/>
//  <path d="M16.5947,25.4H7.83a1.0143,1.0143,0,1,1,0-2.0285h8.7651A1.0143,1.0143,0,1,1,16.5947,25.4Z"/>
// </svg>
//
// Styleguide 3.15

// Grid Icon
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>grid.icon.v7</title>
//   <rect x="8" y="8" width="7" height="7"/>
//   <rect x="17" y="8" width="7" height="7"/>
//   <rect x="8" y="17" width="7" height="7"/>
//   <rect x="17" y="17" width="7" height="7"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>grid.icon.v7</title>
//   <rect x="8" y="8" width="7" height="7"/>
//   <rect x="17" y="8" width="7" height="7"/>
//   <rect x="8" y="17" width="7" height="7"/>
//   <rect x="17" y="17" width="7" height="7"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>grid.icon.v7</title>
//   <rect x="8" y="8" width="7" height="7"/>
//   <rect x="17" y="8" width="7" height="7"/>
//   <rect x="8" y="17" width="7" height="7"/>
//   <rect x="17" y="17" width="7" height="7"/>
// </svg>
//
// Styleguide 3.16

// Grid Icon (v.0)
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>grid.icon.svg</title>
//  <path d="M17,6H6V26H26V6H17ZM8,8h7v7H8V8ZM8,24V17h7v7H8Zm16,0H17V17h7v7Zm-7-9V8h7v7H17Z"/>
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>grid.icon.svg</title>
//  <path d="M17,6H6V26H26V6H17ZM8,8h7v7H8V8ZM8,24V17h7v7H8Zm16,0H17V17h7v7Zm-7-9V8h7v7H17Z"/>
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>grid.icon.svg</title>
//  <path d="M17,6H6V26H26V6H17ZM8,8h7v7H8V8ZM8,24V17h7v7H8Zm16,0H17V17h7v7Zm-7-9V8h7v7H17Z"/>
//</svg>
//
// Styleguide 3.16.2

// Check Solo Icon
//
// markup:
//<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>check.solo.svg</title>
//  <path d="M25.51266,9.42987a1.40287,1.40287,0,0,0-1.94927.03357L12.891,20.13586,7.48668,14.73156a1.40294,1.40294,0,1,0-1.9841,1.984L12.891,24.10406,25.5474,11.44754A1.403,1.403,0,0,0,25.51266,9.42987Z"/>
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>check.solo.svg</title>
//  <path d="M25.51266,9.42987a1.40287,1.40287,0,0,0-1.94927.03357L12.891,20.13586,7.48668,14.73156a1.40294,1.40294,0,1,0-1.9841,1.984L12.891,24.10406,25.5474,11.44754A1.403,1.403,0,0,0,25.51266,9.42987Z"/>
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>check.solo.svg</title>
//  <path d="M25.51266,9.42987a1.40287,1.40287,0,0,0-1.94927.03357L12.891,20.13586,7.48668,14.73156a1.40294,1.40294,0,1,0-1.9841,1.984L12.891,24.10406,25.5474,11.44754A1.403,1.403,0,0,0,25.51266,9.42987Z"/>
//</svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32" class="svgIcon">
//  <title>check.solo.svg</title>
//  <path d="M25.51266,9.42987a1.40287,1.40287,0,0,0-1.94927.03357L12.891,20.13586,7.48668,14.73156a1.40294,1.40294,0,1,0-1.9841,1.984L12.891,24.10406,25.5474,11.44754A1.403,1.403,0,0,0,25.51266,9.42987Z"/>
//</svg>
//
// Styleguide 3.17

// Dash Icon
//
//
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>circle.dash.svg</title>
//  <path d="M24,14H8a2.0025,2.0025,0,0,0,0,4H24A2.0025,2.0025,0,0,0,24,14Z"/>
//  </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>circle.dash</title>
//  <path d="M24,14H8a2.0025,2.0025,0,0,0,0,4H24A2.0025,2.0025,0,0,0,24,14Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>circle.dash</title>
//  <path d="M24,14H8a2.0025,2.0025,0,0,0,0,4H24A2.0025,2.0025,0,0,0,24,14Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32" class="svgIcon">
//  <title>circle.dash</title>
//  <path d="M24,14H8a2.0025,2.0025,0,0,0,0,4H24A2.0025,2.0025,0,0,0,24,14Z"/>
// </svg>
//
// Styleguide 3.18

// Apply Icon
//
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>apply.icon.svg</title>
//  <path d="M23.26,13.1819a1.2736,1.2736,0,0,0-1.7332,0L17,17.6253V6.1041a1.0119,1.0119,0,1,0-2,0V17.6253l-4.5268-4.4434a1.2212,1.2212,0,0,0-1.6916,0,1.17,1.17,0,0,0-.0208,1.65L15.1786,21.26l0,0.0083a1.1694,1.1694,0,0,0,1.6488,0l0.0048-.0083L23.26,14.8318A1.17,1.17,0,0,0,23.26,13.1819Z" />
// <rect x="14.8333" y="16.3602" width="2.3333" height="16.6711" rx="1.1667" ry="1.1667" transform="translate(-8.6957 40.6957) rotate(-90)" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>apply.icon.svg</title>
//  <path d="M23.26,13.1819a1.2736,1.2736,0,0,0-1.7332,0L17,17.6253V6.1041a1.0119,1.0119,0,1,0-2,0V17.6253l-4.5268-4.4434a1.2212,1.2212,0,0,0-1.6916,0,1.17,1.17,0,0,0-.0208,1.65L15.1786,21.26l0,0.0083a1.1694,1.1694,0,0,0,1.6488,0l0.0048-.0083L23.26,14.8318A1.17,1.17,0,0,0,23.26,13.1819Z" />
//  <rect x="14.8333" y="16.3602" width="2.3333" height="16.6711" rx="1.1667" ry="1.1667" transform="translate(-8.6957 40.6957) rotate(-90)" />
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>apply.icon.svg</title>
//  <path d="M23.26,13.1819a1.2736,1.2736,0,0,0-1.7332,0L17,17.6253V6.1041a1.0119,1.0119,0,1,0-2,0V17.6253l-4.5268-4.4434a1.2212,1.2212,0,0,0-1.6916,0,1.17,1.17,0,0,0-.0208,1.65L15.1786,21.26l0,0.0083a1.1694,1.1694,0,0,0,1.6488,0l0.0048-.0083L23.26,14.8318A1.17,1.17,0,0,0,23.26,13.1819Z" />
//  <rect x="14.8333" y="16.3602" width="2.3333" height="16.6711" rx="1.1667" ry="1.1667" transform="translate(-8.6957 40.6957) rotate(-90)" />
// </svg>
//
// Styleguide 3.19

// Refresh Icon
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>refresh.icon.svg</title>
//  <path d="M10.96075,11l4.60907-3.19434a1,1,0,0,0-1.13965-1.64355L5.939,12.04688l8.83594,6.248a0.99981,0.99981,0,0,0,1.1543-1.63281L10.75061,13H23v8H6a1,1,0,0,0,0,2H25V11H10.96075Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>refresh.icon.svg</title>
//  <path d="M10.96075,11l4.60907-3.19434a1,1,0,0,0-1.13965-1.64355L5.939,12.04688l8.83594,6.248a0.99981,0.99981,0,0,0,1.1543-1.63281L10.75061,13H23v8H6a1,1,0,0,0,0,2H25V11H10.96075Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>refresh.icon.svg</title>
//  <path d="M10.96075,11l4.60907-3.19434a1,1,0,0,0-1.13965-1.64355L5.939,12.04688l8.83594,6.248a0.99981,0.99981,0,0,0,1.1543-1.63281L10.75061,13H23v8H6a1,1,0,0,0,0,2H25V11H10.96075Z"/>
// </svg>
//
// Styleguide 3.20

// Carousel Control Icon circle
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="svgIcon">
//  <title>carousel.control.icon</title>
//  <path d="M12,4a8,8,0,1,1-8,8,8.00906,8.00906,0,0,1,8-8m0-4A12,12,0,1,0,24,12,12,12,0,0,0,12,0h0Z"/>
// </svg>
//
// Styleguide 3.21

// Carousel Control Icon circle solid
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="svgIcon">
//  <title>carousel.control.solid.icon</title>
//  <path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0h0Z"/>
// </svg>
//
// Styleguide 3.21.2

// Audio / Headphone Icon
//
//  <b>Note: Please do not wrap this icon in a circle, it probably won't look good.</b>
//
//markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>audio.icon</title>
//   <g>
//     <path d="M7.50842,19.29355A0.94557,0.94557,0,0,1,6.56284,18.348V15.376a9.47232,9.47232,0,0,1,18.94464,0v2.91654a0.94558,0.94558,0,0,1-1.89117,0V15.376a7.58115,7.58115,0,0,0-15.16231,0v2.972A0.94557,0.94557,0,0,1,7.50842,19.29355Z"/>
//     <g>
//       <path d="M21.82651,23.66863a0.94557,0.94557,0,0,1-.94558-0.94558V16.22111a0.94558,0.94558,0,0,1,1.89117,0V22.723A0.94557,0.94557,0,0,1,21.82651,23.66863Z"/>
//       <path d="M10.24381,23.75a0.94557,0.94557,0,0,1-.94558-0.94558V16.22111a0.94558,0.94558,0,1,1,1.89117,0v6.58331A0.94557,0.94557,0,0,1,10.24381,23.75Z"/>
//     </g>
//   </g>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>audio.icon</title>
//   <g>
//     <path d="M7.50842,19.29355A0.94557,0.94557,0,0,1,6.56284,18.348V15.376a9.47232,9.47232,0,0,1,18.94464,0v2.91654a0.94558,0.94558,0,0,1-1.89117,0V15.376a7.58115,7.58115,0,0,0-15.16231,0v2.972A0.94557,0.94557,0,0,1,7.50842,19.29355Z"/>
//     <g>
//       <path d="M21.82651,23.66863a0.94557,0.94557,0,0,1-.94558-0.94558V16.22111a0.94558,0.94558,0,0,1,1.89117,0V22.723A0.94557,0.94557,0,0,1,21.82651,23.66863Z"/>
//       <path d="M10.24381,23.75a0.94557,0.94557,0,0,1-.94558-0.94558V16.22111a0.94558,0.94558,0,1,1,1.89117,0v6.58331A0.94557,0.94557,0,0,1,10.24381,23.75Z"/>
//     </g>
//   </g>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>audio.icon</title>
//   <g>
//     <path d="M7.50842,19.29355A0.94557,0.94557,0,0,1,6.56284,18.348V15.376a9.47232,9.47232,0,0,1,18.94464,0v2.91654a0.94558,0.94558,0,0,1-1.89117,0V15.376a7.58115,7.58115,0,0,0-15.16231,0v2.972A0.94557,0.94557,0,0,1,7.50842,19.29355Z"/>
//     <g>
//       <path d="M21.82651,23.66863a0.94557,0.94557,0,0,1-.94558-0.94558V16.22111a0.94558,0.94558,0,0,1,1.89117,0V22.723A0.94557,0.94557,0,0,1,21.82651,23.66863Z"/>
//       <path d="M10.24381,23.75a0.94557,0.94557,0,0,1-.94558-0.94558V16.22111a0.94558,0.94558,0,1,1,1.89117,0v6.58331A0.94557,0.94557,0,0,1,10.24381,23.75Z"/>
//     </g>
//   </g>
// </svg>
//
// Styleguide 3.22

// Media / Blue Ray Disc
//
//  <b>Note: Please do not wrap this icon in a circle, it probably won't look good.</b>
//
//markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>blue.ray.icon</title>
//   <path d="M12.25,16a3.738,3.738,0,0,0,1.09839,2.65161l5.30328-5.30328A3.75,3.75,0,0,0,12.25,16Z" fill="none"/>
//   <path d="M16,19.75a3.75,3.75,0,0,0,2.65167-6.40167l-5.30328,5.30328A3.738,3.738,0,0,0,16,19.75Z"/>
//   <path d="M24.4411,7.5589A11.93752,11.93752,0,1,0,27.9375,16,11.90013,11.90013,0,0,0,24.4411,7.5589ZM12.25,16a3.75013,3.75013,0,1,1,1.09839,2.65161A3.75,3.75,0,0,1,12.25,16ZM16,26.9375a10.85556,10.85556,0,0,1-6.99524-2.52808l4.41772-4.41772a4.75228,4.75228,0,0,0,6.56927-6.56927l4.41766-4.41766A10.9387,10.9387,0,0,1,16,26.9375Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>blue.ray.icon</title>
//   <path d="M12.25,16a3.738,3.738,0,0,0,1.09839,2.65161l5.30328-5.30328A3.75,3.75,0,0,0,12.25,16Z" fill="none"/>
//   <path d="M16,19.75a3.75,3.75,0,0,0,2.65167-6.40167l-5.30328,5.30328A3.738,3.738,0,0,0,16,19.75Z"/>
//   <path d="M24.4411,7.5589A11.93752,11.93752,0,1,0,27.9375,16,11.90013,11.90013,0,0,0,24.4411,7.5589ZM12.25,16a3.75013,3.75013,0,1,1,1.09839,2.65161A3.75,3.75,0,0,1,12.25,16ZM16,26.9375a10.85556,10.85556,0,0,1-6.99524-2.52808l4.41772-4.41772a4.75228,4.75228,0,0,0,6.56927-6.56927l4.41766-4.41766A10.9387,10.9387,0,0,1,16,26.9375Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>blue.ray.icon</title>
//   <path d="M12.25,16a3.738,3.738,0,0,0,1.09839,2.65161l5.30328-5.30328A3.75,3.75,0,0,0,12.25,16Z" fill="none"/>
//   <path d="M16,19.75a3.75,3.75,0,0,0,2.65167-6.40167l-5.30328,5.30328A3.738,3.738,0,0,0,16,19.75Z"/>
//   <path d="M24.4411,7.5589A11.93752,11.93752,0,1,0,27.9375,16,11.90013,11.90013,0,0,0,24.4411,7.5589ZM12.25,16a3.75013,3.75013,0,1,1,1.09839,2.65161A3.75,3.75,0,0,1,12.25,16ZM16,26.9375a10.85556,10.85556,0,0,1-6.99524-2.52808l4.41772-4.41772a4.75228,4.75228,0,0,0,6.56927-6.56927l4.41766-4.41766A10.9387,10.9387,0,0,1,16,26.9375Z"/>
// </svg>
//
// Styleguide 3.23

// Audio Disc Icon
//
//  <b>Note: Please do not wrap this icon in a circle, it probably won't look good.</b>
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>audio.disc.icon</title>
//   <path d="M16,4.0625A11.9375,11.9375,0,1,0,27.9375,16,11.9375,11.9375,0,0,0,16,4.0625ZM16,19.75A3.75,3.75,0,1,1,19.75,16,3.75,3.75,0,0,1,16,19.75Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>audio.disc.icon</title>
//   <path d="M16,4.0625A11.9375,11.9375,0,1,0,27.9375,16,11.9375,11.9375,0,0,0,16,4.0625ZM16,19.75A3.75,3.75,0,1,1,19.75,16,3.75,3.75,0,0,1,16,19.75Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>audio.disc.icon</title>
//   <path d="M16,4.0625A11.9375,11.9375,0,1,0,27.9375,16,11.9375,11.9375,0,0,0,16,4.0625ZM16,19.75A3.75,3.75,0,1,1,19.75,16,3.75,3.75,0,0,1,16,19.75Z"/>
// </svg>
//
// Styleguide 3.24

// DVD Disc Icon
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>dvd.icon.svg</title>
//   <circle cx="16" cy="16" r="3.75" fill="none"/>
//   <path d="M16,10.625A5.375,5.375,0,1,0,21.375,16,5.381,5.381,0,0,0,16,10.625Zm0,9.125A3.75,3.75,0,1,1,19.75,16,3.75,3.75,0,0,1,16,19.75Z"/>
//   <path d="M16,4.0625A11.9375,11.9375,0,1,0,27.9375,16,11.9375,11.9375,0,0,0,16,4.0625Zm0,19.65625A7.71875,7.71875,0,1,1,23.71875,16,7.72719,7.72719,0,0,1,16,23.71875Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>dvd.icon.svg</title>
//   <circle cx="16" cy="16" r="3.75" fill="none"/>
//   <path d="M16,10.625A5.375,5.375,0,1,0,21.375,16,5.381,5.381,0,0,0,16,10.625Zm0,9.125A3.75,3.75,0,1,1,19.75,16,3.75,3.75,0,0,1,16,19.75Z"/>
//   <path d="M16,4.0625A11.9375,11.9375,0,1,0,27.9375,16,11.9375,11.9375,0,0,0,16,4.0625Zm0,19.65625A7.71875,7.71875,0,1,1,23.71875,16,7.72719,7.72719,0,0,1,16,23.71875Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>dvd.icon.svg</title>
//   <circle cx="16" cy="16" r="3.75" fill="none"/>
//   <path d="M16,10.625A5.375,5.375,0,1,0,21.375,16,5.381,5.381,0,0,0,16,10.625Zm0,9.125A3.75,3.75,0,1,1,19.75,16,3.75,3.75,0,0,1,16,19.75Z"/>
//   <path d="M16,4.0625A11.9375,11.9375,0,1,0,27.9375,16,11.9375,11.9375,0,0,0,16,4.0625Zm0,19.65625A7.71875,7.71875,0,1,1,23.71875,16,7.72719,7.72719,0,0,1,16,23.71875Z"/>
// </svg>
//
// Styleguide 3.25

// Book Icon
//
//  markup:
//<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>book.icon</title>
//   <g>
//     <path d="M26.09478,8.31652A13.1617,13.1617,0,0,0,15.97189,8.1603a13.079,13.079,0,0,0-10.09165.18746,0.88881,0.88881,0,0,0-.46865.84357V21.81371a0.89164,0.89164,0,0,0,.37492.81233,0.93487,0.93487,0,0,0,.90606.06249,11.44018,11.44018,0,0,1,8.9044,0c0.03124,0,.03124,0,0.03124.03124a0.06237,0.06237,0,0,1,.06249.03124,0.70873,0.70873,0,0,0,.125.03124h0.18746a0.5317,0.5317,0,0,0,.2187-0.03124,0.06237,0.06237,0,0,0,.06249-0.03124,0.70873,0.70873,0,0,1,.125-0.03124,11.464,11.464,0,0,1,8.9044,0,0.86486,0.86486,0,0,0,.40617.09373A1.05326,1.05326,0,0,0,26.251,22.626a0.94244,0.94244,0,0,0,.43741-0.81233V9.19133A1.04849,1.04849,0,0,0,26.09478,8.31652ZM24.78256,20.439a13.30172,13.30172,0,0,0-8.74818.34368A13.26349,13.26349,0,0,0,7.2862,20.439V9.8162a11.30538,11.30538,0,0,1,8.342.2187c0.03124,0,.03124,0,0.03124.03124a0.06237,0.06237,0,0,1,.06249.03124,0.70872,0.70872,0,0,0,.125.03124h0.34368a0.11478,0.11478,0,0,0,.09373-0.03124c0.03125,0,.06249-0.03124.09373-0.03124,0,0,.06249,0,0.06249-0.03124a11.51979,11.51979,0,0,1,8.37326-.2187V20.439H24.78256Z" />
//     <path d="M16.00313,17.81454a0.76028,0.76028,0,0,1-.74984-0.74984V13.378a0.74984,0.74984,0,0,1,1.49969,0V17.0647A0.74014,0.74014,0,0,1,16.00313,17.81454Z" />
//   </g>
// </svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>book.icon</title>
//   <g>
//     <path d="M26.09478,8.31652A13.1617,13.1617,0,0,0,15.97189,8.1603a13.079,13.079,0,0,0-10.09165.18746,0.88881,0.88881,0,0,0-.46865.84357V21.81371a0.89164,0.89164,0,0,0,.37492.81233,0.93487,0.93487,0,0,0,.90606.06249,11.44018,11.44018,0,0,1,8.9044,0c0.03124,0,.03124,0,0.03124.03124a0.06237,0.06237,0,0,1,.06249.03124,0.70873,0.70873,0,0,0,.125.03124h0.18746a0.5317,0.5317,0,0,0,.2187-0.03124,0.06237,0.06237,0,0,0,.06249-0.03124,0.70873,0.70873,0,0,1,.125-0.03124,11.464,11.464,0,0,1,8.9044,0,0.86486,0.86486,0,0,0,.40617.09373A1.05326,1.05326,0,0,0,26.251,22.626a0.94244,0.94244,0,0,0,.43741-0.81233V9.19133A1.04849,1.04849,0,0,0,26.09478,8.31652ZM24.78256,20.439a13.30172,13.30172,0,0,0-8.74818.34368A13.26349,13.26349,0,0,0,7.2862,20.439V9.8162a11.30538,11.30538,0,0,1,8.342.2187c0.03124,0,.03124,0,0.03124.03124a0.06237,0.06237,0,0,1,.06249.03124,0.70872,0.70872,0,0,0,.125.03124h0.34368a0.11478,0.11478,0,0,0,.09373-0.03124c0.03125,0,.06249-0.03124.09373-0.03124,0,0,.06249,0,0.06249-0.03124a11.51979,11.51979,0,0,1,8.37326-.2187V20.439H24.78256Z" />
//     <path d="M16.00313,17.81454a0.76028,0.76028,0,0,1-.74984-0.74984V13.378a0.74984,0.74984,0,0,1,1.49969,0V17.0647A0.74014,0.74014,0,0,1,16.00313,17.81454Z" />
//   </g>
// </svg>
//<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>book.icon</title>
//   <g>
//     <path d="M26.09478,8.31652A13.1617,13.1617,0,0,0,15.97189,8.1603a13.079,13.079,0,0,0-10.09165.18746,0.88881,0.88881,0,0,0-.46865.84357V21.81371a0.89164,0.89164,0,0,0,.37492.81233,0.93487,0.93487,0,0,0,.90606.06249,11.44018,11.44018,0,0,1,8.9044,0c0.03124,0,.03124,0,0.03124.03124a0.06237,0.06237,0,0,1,.06249.03124,0.70873,0.70873,0,0,0,.125.03124h0.18746a0.5317,0.5317,0,0,0,.2187-0.03124,0.06237,0.06237,0,0,0,.06249-0.03124,0.70873,0.70873,0,0,1,.125-0.03124,11.464,11.464,0,0,1,8.9044,0,0.86486,0.86486,0,0,0,.40617.09373A1.05326,1.05326,0,0,0,26.251,22.626a0.94244,0.94244,0,0,0,.43741-0.81233V9.19133A1.04849,1.04849,0,0,0,26.09478,8.31652ZM24.78256,20.439a13.30172,13.30172,0,0,0-8.74818.34368A13.26349,13.26349,0,0,0,7.2862,20.439V9.8162a11.30538,11.30538,0,0,1,8.342.2187c0.03124,0,.03124,0,0.03124.03124a0.06237,0.06237,0,0,1,.06249.03124,0.70872,0.70872,0,0,0,.125.03124h0.34368a0.11478,0.11478,0,0,0,.09373-0.03124c0.03125,0,.06249-0.03124.09373-0.03124,0,0,.06249,0,0.06249-0.03124a11.51979,11.51979,0,0,1,8.37326-.2187V20.439H24.78256Z" />
//     <path d="M16.00313,17.81454a0.76028,0.76028,0,0,1-.74984-0.74984V13.378a0.74984,0.74984,0,0,1,1.49969,0V17.0647A0.74014,0.74014,0,0,1,16.00313,17.81454Z" />
//   </g>
// </svg>
//
// Styleguide 3.26

// Large Print Icon
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>largePrint.icon-01</title>
//   <path d="M7.132,6.0411H24.97514l0.16949,5.36219h-0.755a6.43678,6.43678,0,0,0-1.40988-3.28973q-0.85518-.76272-3.5979-0.76272H17.62525V23.499q0,1.824.57012,2.25992a5.26381,5.26381,0,0,0,2.49619.57525v0.58553H11.49263V26.3342a4.36809,4.36809,0,0,0,2.49619-.66,4.1201,4.1201,0,0,0,.49307-2.545V7.35083h-1.772a6.022,6.022,0,0,0-3.56709.755,5.57976,5.57976,0,0,0-1.42529,3.29744H6.9471Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>largePrint.icon-01</title>
//   <path d="M7.132,6.0411H24.97514l0.16949,5.36219h-0.755a6.43678,6.43678,0,0,0-1.40988-3.28973q-0.85518-.76272-3.5979-0.76272H17.62525V23.499q0,1.824.57012,2.25992a5.26381,5.26381,0,0,0,2.49619.57525v0.58553H11.49263V26.3342a4.36809,4.36809,0,0,0,2.49619-.66,4.1201,4.1201,0,0,0,.49307-2.545V7.35083h-1.772a6.022,6.022,0,0,0-3.56709.755,5.57976,5.57976,0,0,0-1.42529,3.29744H6.9471Z"/>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>largePrint.icon-01</title>
//   <path d="M7.132,6.0411H24.97514l0.16949,5.36219h-0.755a6.43678,6.43678,0,0,0-1.40988-3.28973q-0.85518-.76272-3.5979-0.76272H17.62525V23.499q0,1.824.57012,2.25992a5.26381,5.26381,0,0,0,2.49619.57525v0.58553H11.49263V26.3342a4.36809,4.36809,0,0,0,2.49619-.66,4.1201,4.1201,0,0,0,.49307-2.545V7.35083h-1.772a6.022,6.022,0,0,0-3.56709.755,5.57976,5.57976,0,0,0-1.42529,3.29744H6.9471Z"/>
// </svg>
//
// Styleguide 3.27

// eReader Icon
//
// markup:
// <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//   <title>icon.eReader</title>
//   <g>
//     <path d="M23.09932,5.58011H8.962A1.59864,1.59864,0,0,0,7.33333,7.14367V24.92925A1.58533,1.58533,0,0,0,8.8969,26.49281H23.0993a1.54334,1.54334,0,0,0,1.56356-1.56356V7.14367a1.50537,1.50537,0,0,0-1.56354-1.56356h0ZM15.99812,25.5156a0.97927,0.97927,0,1,1,1.04238-.97723,1.01668,1.01668,0,0,1-1.04238.97723h0Zm7.1012-2.60595H8.962V7.14367H23.09932v15.766h0Z"/>
//     <g>
//       <path d="M20.61338,9.99038h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,12.85692h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43071,0.43071,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,15.59317h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,18.32942h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,21.13081h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//     </g>
//   </g>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//   <title>icon.eReader</title>
//   <g>
//     <path d="M23.09932,5.58011H8.962A1.59864,1.59864,0,0,0,7.33333,7.14367V24.92925A1.58533,1.58533,0,0,0,8.8969,26.49281H23.0993a1.54334,1.54334,0,0,0,1.56356-1.56356V7.14367a1.50537,1.50537,0,0,0-1.56354-1.56356h0ZM15.99812,25.5156a0.97927,0.97927,0,1,1,1.04238-.97723,1.01668,1.01668,0,0,1-1.04238.97723h0Zm7.1012-2.60595H8.962V7.14367H23.09932v15.766h0Z"/>
//     <g>
//       <path d="M20.61338,9.99038h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,12.85692h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43071,0.43071,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,15.59317h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,18.32942h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,21.13081h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//     </g>
//   </g>
// </svg>
// <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//   <title>icon.eReader</title>
//   <g>
//     <path d="M23.09932,5.58011H8.962A1.59864,1.59864,0,0,0,7.33333,7.14367V24.92925A1.58533,1.58533,0,0,0,8.8969,26.49281H23.0993a1.54334,1.54334,0,0,0,1.56356-1.56356V7.14367a1.50537,1.50537,0,0,0-1.56354-1.56356h0ZM15.99812,25.5156a0.97927,0.97927,0,1,1,1.04238-.97723,1.01668,1.01668,0,0,1-1.04238.97723h0Zm7.1012-2.60595H8.962V7.14367H23.09932v15.766h0Z"/>
//     <g>
//       <path d="M20.61338,9.99038h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,12.85692h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43071,0.43071,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,15.59317h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,18.32942h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//       <path d="M20.61338,21.13081h-9.186a0.456,0.456,0,0,1,0-.9121h9.12081a0.44532,0.44532,0,0,1,.456.456,0.43566,0.43566,0,0,1-.3909.456h0Z"/>
//     </g>
//   </g>
// </svg>
//
// Styleguide 3.28

// Tag Icon
//
//  markup:
//  <svg width="48" height="48" viewBox="0 0 32 32" class="svgIcon">
//  <title>tag.icon</title>
//  <path d="M26.45536,26.45536H16.80078L4.92843,14.58216l9.65373-9.65373,11.8732,11.87235v9.65458ZM17.87606,23.859h5.983v-5.983L14.58216,8.5992l-5.983,5.983Z"/>
//  </svg>
//  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
//  <title>tag.icon</title>
//  <path d="M26.45536,26.45536H16.80078L4.92843,14.58216l9.65373-9.65373,11.8732,11.87235v9.65458ZM17.87606,23.859h5.983v-5.983L14.58216,8.5992l-5.983,5.983Z"/>
//  </svg>
//  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="svgIcon">
//  <title>tag.icon</title>
//  <path d="M26.45536,26.45536H16.80078L4.92843,14.58216l9.65373-9.65373,11.8732,11.87235v9.65458ZM17.87606,23.859h5.983v-5.983L14.58216,8.5992l-5.983,5.983Z"/>
//  </svg>
//  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32" class="svgIcon">
//  <title>tag.icon</title>
//  <path d="M26.45536,26.45536H16.80078L4.92843,14.58216l9.65373-9.65373,11.8732,11.87235v9.65458ZM17.87606,23.859h5.983v-5.983L14.58216,8.5992l-5.983,5.983Z"/>
//  </svg>
//
// Styleguide 3.29
