@import "base";

// @import "reset";
@import "buttons";
@import "colors";
@import "colorClasses";
@import "fonts";
@import "icons";
@import "svgicons";
@import "images";
@import "mixins";
@import "variables";

@import "eyebrow";
@import "kievit";
@import "milo";


/******** Dropdown / Input Field ********/

// Select & Input
//
// Styleguide 7

// Select
//
// markup:
// <div class="select">
//   <select>
//     <option selected="">Search for All</option>
//     <option>Option 1</option>
//     <option>Option 2</option>
//     <option>Option 3</option>
//   </select>
// </div>
//
// Styleguide 7.1

.select select {
  outline: none;
  background: transparent;
  font-size: 16px;
  border: 0;
  height: 34px;
  width: 214px;
  font-family: 'Kievit-Book', sans-serif;
  font-weight: 400;
  color: $coolgray-color;
}

.select {
  outline: none;
  height: 34px;
  width: 198px;
  border: 2px solid $coolgray-color;
  @include border-radius(3px);
  overflow: hidden;
  background: url(../imgs/dropdown.png) 95% / 20% no-repeat transparent;
  background-size: 6px 4px;
  // margin-bottom: 34px; // ?????
  padding: 0 4px;
}

// Input
//
// markup:
// <input type="text" placeholder="Enter Text">
//
// Styleguide 7.2

input[type="text"] {
  outline: none;
  height: 34px;
  width: 198px;
  border: 2px solid $coolgray-color;
  @include border-radius(3px);
  font-family: 'Kievit-BookItalic', sans-serif;
  font-size: 16px;
  font-style: italic;
  color: $coolgray-color;
  padding: 1px 10px 0px;
}
