@font-face {
  font-family: 'Kievit-Medium';
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.woff') format('woff');
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.eot') format('eot');
//   font-weight:500;
}
