/* NYPL ICON FONT RULES */

@font-face {	
  font-family: 'nypl-moon';
  src:url('//ux-static.nypl.org/nypl-moon/nypl-moon.eot');
  src:url('//ux-static.nypl.org/nypl-moon/nypl-moon.eot') format('embedded-opentype'),
    url('//ux-static.nypl.org/nypl-moon/nypl-moon.woff2') format('woff2'),
    url('//ux-static.nypl.org/nypl-moon/nypl-moon.ttf') format('truetype'),
    url('//ux-static.nypl.org/nypl-moon/nypl-moon.woff') format('woff'),
    url('//ux-static.nypl.org/nypl-moon/nypl-moon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* /NYPL ICON FONT RULES */